* {
    margin: 0;
    padding: 0;
    font-family:'Open Sans';
}

:root {
    --text-headline: #E1624F;
    --text-primary: #1B1B1B;
    --text-secundary: #333333;

    --accent-blue: #0C51A7;
    --accent-purple: #591B98;
    --accent-pink: #E5245E;
    --accent-orange: #E95E10;
}

#page {
    box-sizing: border-box;
    width: 1120px;
    margin: 88px auto 65px;
}

#first-line {
    margin-bottom: 60px;
}

header .headline {
    margin:0 auto 8px;
}

.headline {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-headline);
}

.headline, .subtitle, p {
    font-size: 16px;
}

.subtitle {
    font-style: italic;
    text-align: center;
    margin: 24px auto 40px;
}

.subtitle, p {
    color: var(--text-secundary);
}

main .headline {
    margin: 0 auto 2px;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h1, h2, h3 {
    color: var(--text-primary);
}

#title p {
    margin: 8px auto 64px;
}

span, li {
    font-weight: bold;
}

ul li:only-of-type {
    color: var(--accent-blue);
}

ul li{
    color: var(--accent-purple);
}

li + li {
    color: var(--accent-pink);
}

li + li + li {
    color: var(--accent-orange);
}

body img {
    width: 100%;
    border-radius: 28px;
}

footer {
    display: flex;
    text-align: center;
    margin: 0 auto 48px;
    justify-content: center;
}

footer img {
    width: 16px;
    padding: 4px;
}